<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
 <div class="field">
  <p class="a">Title</p>
  <%= f.text_field :title %>
 </div>
 <div class="field">
  <p class="a">Body</p>
  <%= f.text_area :body %>
 </div>
 <div class="action">
  <%= f.submit 'Update Book' %>
 </div>
<% end %>

<a class="edit_88268" href="/books/88268/show">Show</a> |
<a class="back" href="/books">Back</a>