<body>
    <p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  a
</p>

<p>
  <strong>Body:</strong>
  a
</p>

<a class="edit_88268" href="/books/88268/edit">Edit</a> |
<a class="back" href="/books">Back</a>

</body>