// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#books-index {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    display: block;
}

#books-index {
    .a {
      margin: 0px;
    }
}

#books-index {
    .field {
        margin-bottom: 10px;
    }
}