// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#books-index {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    display: block;
    td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    }
    th {
    padding-bottom: 5px;
    }
}

#books-index {
    label {
      display: block;
    }
}

#books-index {
    .field {
        margin-bottom: 10px;
    }
}

#books-create {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    display: block;

    td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    }

    th {
    padding-bottom: 5px;
    }

    #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    }

    #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
    }

    ul {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    }

    li {
    font-size: 12px;
    list-style: square;
    }

    .field-with-errors {
    padding: 2px;
    background-color: red;
    display: table;
    }
}

#books-create {
    label {
      display: block;
    }
}

#books-create {
    .field {
        margin-bottom: 10px;
    }
}

#books-show {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

#books-show {
    p {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    }
    #notice {
        color: green;
    }
    .succes-flash {
        color: green;
    }
}

#books-edit {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    label {
        display :block;
    }
    .field {
        margin-bottom: 10px;
    }
    .action {
        margin-bottom: 10px;
    }
}

#books-update {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    label {
        display :block;
    }
    .field {
        margin-bottom: 10px;
    }
    .action {
        margin-bottom: 10px;
    }

    #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    }

    #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
    }

    ul {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    }

    li {
    font-size: 12px;
    list-style: square;
    }

    .field-with-errors {
    padding: 2px;
    background-color: red;
    display: table;
    }
}

#books-update {
    label {
      display: block;
    }
}

#books-update {
    .field {
        margin-bottom: 10px;
    }
}

#book_path {
     #notice {
        color: green;
    }
}